<!DOCTYPE html>
<html>
  <head>
    <h1>
    <%= title %>
  </h1>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Inserir Usuário:</p>
    <form action="/save_usuario" method="POST"> 
    <p>
      <label>primeiroNome:
        <input type="text" name="primeiroNome" />
      </label>
    </p>
    <p>
      <label>sobrenome:
        <input type="text" name="sobrenome" />
      </label>
    </p>
    <p>
      <label>cpf:
        <input type="text" name="cpf" />
      </label>
    </p>
    <p>
      <label>dataNascimento:
        <input type="date" name="dataNascimento" />
      </label>
    </p>
    <p>
      <label>email:
        <input type="text" name="email" />
      </label>
    </p>
    <p>
      <p>
        <label>telefone:
          <input type="text" name="telefone" />
        </label>
      </p>
      <p>
      <label>senha:
        <input type="text" name="senha" />
      </label>
    </p>
    <p>
      <label>tipo:
        <input type="text" name="tipo" />
      </label>
    </p>
    <p>
      <input type="submit" value="salvar" />
    </p>
  </form>

  <form action="/save_aluno" method="POST">
    <p>inserir aluno:</p>
    <p>
      <label>id do usuario:
        <input type="text" name="usuarioId" />
      </label>
    </p>
    <p>
      <label>matricula:
        <input type="text" name="matricula" />
      </label>
    </p>
    <p>
      <label>id do plano:
        <input type="text" name="planoId" />
      </label>
    </p>
    <p>
      <label>status da assinatura:
        <input type="text" name="statusAssinatura" />
      </label>
    </p>
    <p>
      <input type="submit" value="salvar" />
    </p>
  </form>

  <form action="/save_plano" method="POST">
    <p>inserir plano:</p>
    <p>
      <label>nome:
        <input type="text" name="nome" />
      </label>
    </p>
    <p>
      <label>duracao:
        <input type="number" name="duracao" />
      </label>
    </p>
    <p>
      <label>status:
        <input type="bool" name="status" />
      </label>
    </p>
    <p>
      <label>valor:
        <input type="number" step="0.01" name="valor" />
      </label>
    </p>
    <p>
      <input type="submit" value="salvar" />
    </p>
  </form>

  <form action="/save_assinatura" method="POST">
    <p>inserir assinatura:</p>
    <p>
      <label>id do aluno:
        <input type="text" name="alunoId" />
      </label>
    </p>
    <p>
      <label>id do plano:
        <input type="text" name="planoId" />
      </label>
    </p>
    <p>
      <label>status:
        <input type="text" name="status" />
      </label>
    </p>
    <p>
      <input type="submit" value="salvar" />
    </p>
  </form>
  </body>
</html>
