<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Sistema da Academia</p>
    <p>Inserir Usuário:</p>
    <form action="/save_usuario" method="POST">
    <p>
      <label>primeiroNome:
        <input type="text" name="primeiroNome" />
      </label>
    </p>
    <p>
      <label>sobrenome:
        <input type="text" name="sobrenome" />
      </label>
    </p>
    <p>
      <label>cpf:
        <input type="text" name="cpf" />
      </label>
    </p>
    <p>
      <label>dataNascimento:
        <input type="date" name="dataNascimento" />
      </label>
    </p>
    <p>
      <label>email:
        <input type="text" name="email" />
      </label>
    </p>
    <p>
      <p>
        <label>telefone:
          <input type="text" name="telefone" />
        </label>
      </p>
      <p>
      <label>senha:
        <input type="text" name="senha" />
      </label>
    </p>
    <p>
      <label>tipo:
        <input type="text" name="tipo" />
      </label>
    </p>
    <p>
      <input type="submit" value="salvar" />
    </p>
  </form>
  </body>
</html>
